pkgbase = darktable
	pkgdesc = Utility to organize and develop raw images
	pkgver = 4.4.2
	pkgrel = 4
	epoch = 2
	url = https://darktable.org
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = intltool
	makedepends = desktop-file-utils
	makedepends = llvm
	makedepends = clang
	makedepends = portmidi
	makedepends = python-jsonschema
	makedepends = libwebp
	depends = pugixml
	depends = libjpeg-turbo
	depends = colord-gtk
	depends = libgphoto2
	depends = openexr
	depends = lensfun
	depends = iso-codes
	depends = zlib
	depends = exiv2
	depends = flickcurl
	depends = openjpeg2
	depends = graphicsmagick
	depends = lua
	depends = osm-gps-map
	depends = libsecret
	depends = openmp
	depends = gmic
	depends = libavif
	depends = jasper
	depends = libjxl
	optdepends = dcraw: base curve script
	optdepends = perl-image-exiftool: base curve script
	optdepends = imagemagick: base curve and noise profile scripts
	optdepends = ghostscript: noise profile script
	optdepends = portmidi: game and midi controller input devices
	optdepends = gnuplot: noise profile script
	source = https://github.com/darktable-org/darktable/releases/download/release-4.4.2/darktable-4.4.2.tar.xz
	source = https://github.com/darktable-org/darktable/releases/download/release-4.4.2/darktable-4.4.2.tar.xz.asc
	source = libavif-1.patch
	source = https://github.com/darktable-org/rawspeed/commit/f57725c1.patch
	validpgpkeys = C4CBC150699956E2A3268EF5BB5CC8295B1779C9
	validpgpkeys = F10F9686652B0E949FCD94C318DCA123F949BD3B
	sha256sums = c11d28434fdf2e9ce572b9b1f9bc4e64dcebf6148e25080b4c32eb51916cfa98
	sha256sums = SKIP
	sha256sums = b9fe2cf3a2adadbd4b05ce0002b0a812cf5f5894d964d4b61602304811d4d601
	sha256sums = 2d6abf320a7792eb39ed60ac7e8290dcee38ec064c3f1d151a62ffc7e7427a6b

pkgname = darktable
